body {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #fff;
    background: rgb(160,87,86);
    background: linear-gradient(270deg, rgba(160,87,86,1) 0%, rgba(154,150,105,1) 33%, rgba(218,168,60,1) 66%, rgba(160,184,61,1) 100%);
    margin: 0;
    height: 100vh;   
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

#mainApp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#roomNumber{
  align-self: flex-end;
  font-size: small;
  padding: 1%;
}

#login, .enterRoomForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h1 {
    color: #333;
}

@keyframes example {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}

.animation {
  animation-name: example;
  animation-duration: 1s;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-basis: auto;
    align-self: center;
    text-align: center;
    position: relative;
    width: 256px;
    min-height: 315px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 20px;
    p {
        font-size: 34px;
    };
    svg {
        align-self: end;
        padding: 3px;
    };
    svg:hover {
        transform: scale(1.2, 1.2);
    };
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn {
    display: block;
    flex-basis: auto;
    align-self: auto;
    text-align: center;
    position: relative;
    color: white;
    width: 256px;
    height: 64px;
    line-height: 64px;
    transition: all 0.3s;
    span {
        text-align: center;
      transition: all 0.5s;
      transform: scale(1, 1);
      svg {
        vertical-align: middle;
        margin-right: 3%;
      }
    }
  }

  .btn::before, .btn::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .btn-four:hover span {
    transform: scale(1.2, 1.2);
  }
  
  .btn-four::before {
    opacity: 0;
    background: rgba(255, 255, 255, 0.1);
    transform: scale(0.1, 0.1);
  }
  
  .btn-four:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }
  
  .btn-four::after {
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .btn-four:hover::after {
    transform: scale(0, 0);
    opacity: 0;
  }

  .visible {
    display: block;
  }

  .hidden {
    display: none !important;
  }

  form{
    width: 100%;
    display: block;
    margin: 3%;
  }

  input[type=text]{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #fff;
    width:100%;
    border:1px solid #fff;
    border-radius:0px;
    margin:8px 0;
    background-color: rgba(255, 255, 255, 0.1);
    outline:none;
    padding:7%;
    box-sizing:border-box;
    transition:.3s;
  }

  ::placeholder{
    font-size: 20px;
    color: #ffffffaa;
  }
  
  input[type=text]:focus{
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow:0 0 8px 0  rgba(255, 255, 255, 0.5);
  }

